.lien-propos {
	color: $violet-tdn;
	float: right;
	margin: 1.5rem 1rem 0.5rem 0;
}

.fond-vert {
	background-color: $vert-tdn;
}

.bloc-transparent {
	margin: 1rem;

	.bandeau {
		border-bottom: 1px solid $vert-eau;
	}

	.hot {
		min-height: calc(130px + 2rem);
		padding: 2rem 1rem;
		position: relative;

		.bloc-question:before {
			@include sprite-question-lg;
			background-position: -501px -150px;
		}

		.bloc-icone {
			@include sprite-question-icone;
			background-position: -80px -290px;
			position: absolute;
			top: 2rem;
		}
	}
}

.bloc-bandeau {

	margin: 1rem;
	position: relative;

	.bandeau {
		@include boite-arrondie-haut(10px);
		padding-left: 6px;
		position: relative;

	}

	h3 {
		margin: 1rem 0 0.5rem 100px;
	}

	.bloc-conseils-experts {

		h3:before {
			@include sprite-lg;
			background-position: -501px -70px;
		}
	}

	.bloc-articles {

		h3:before {
			@include sprite-lg;
			background-position: -566px -70px;
		}
	}

	.accroche-article {

		h1 {
			font-variant: small-caps;
			font-size: 2rem;
		}
	}

	.hot {
		background-color: $vert-eau;
		padding: 2rem 1rem 0;
	}
}

.bloc-bandeau-violet {

	margin: 1rem;

	.bandeau {
		@include boite-arrondie-haut(10px);
		@include gradient-horz-monochrome-fade(155,0,131);
	}

	.bloc-journal {

		background-color: white;

		h3 {
			color: $vert-eau;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}

	.bloc-nanas {
		background-color:  $vert-tdn;
	}
}

#actu-communaute {

	position: relative;

	h3 {
		color: white;
		position: relative;
		margin: 2rem 0 0 2rem;
		top: -0.5rem;
	}

	.bandeau:after {
		@include sprite($icone-nanas-hauteur, $icone-nanas-largeur);
		position: absolute;
		top: -24px;
		right: 48px;
		background-position: -256px -70px;
	}

	.hot {
		border: 1px solid $violet-tdn;
	}
}
