/* css */
.sprite{
	background-image: url("../img/sprite.png");
}
/*Menu Types Contenu */
.premiermenu{
	height: 31px;
	width: 35px;    
}
.qdn{
	background-position: -10px -10px;
}
.concours{
	background-position: -60px -10px;
}
.video{
	background-position: -110px -10px;
}
.cde{
	background-position: -160px -10px;
}
.post{
	background-position: -210px -10px;
}
.dossier{
	background-position: -260px -10px;
}
.loupe{
	height:17px;
	width:16px;
	background-position: -420px -10px;
}
/** Actu Communauté **/
.logoTDN{
	width:238px;
	height:205px;
	background-position: -10px -60px;
}
.logoAC{
	height:140px;
	width:237px;
	background-position: -260px -70px;
}
.nanas{
	width:112px;
	height:50px;
	background-position:-300px -10px;
}
.degradeAC{
	height:54px;
	width: 500px;
	background-position: -450px -10px;
}
/* centre */
.cdex{
	height:58px;
	width: 57px;
	background-position: -500px -70px;
}
.visuelqdn{
	width:200px;
	height:130px;
	background-position:-72px -290px;
}
.interro{
	height:61px;
	width:69px;
	background-position:-500px -149px;
}
.postr{
	height:58px;
	width: 57px;
	background-position:-567px -70px;
}
.shop_d{
	height:42px;
	width:40px;
	background-position:-320px -234px;
}
.shop_g{
	height:42px;
	width:40px;
	background-position:-260px -234px;
}
.shop_icone{
	height:145px;
	width:202px;
	background-position:-303px -290px;
}
.video_icone{
	height:58px;
	width: 57px;
	background-position:-634px -70px;
}
.reponse_b{
	height:20px;
	width:22px;
	background-position:-579px -155px;
}
.reponse_g{
	height:24px;
	width:26px;
	background-position:-579px -200px;
}
.like_b{
	height:23px;
	width:25px;
	background-position:-611px -152px;
}
.like_g{
	height:28px;
	width:30px;
	background-position:-611px -190px;
}
/** Colone De Droite**/
.loupeR{
	width:24px;
	height:23px;
	background-position:-417px -37px;
}
.rs_icones{
	height:25px;
	width:25px;
}

$reseaux-sociaux-y: -234px;
$facebook-x: -501px;
$twitter-x: -547px;
$instagram-x: -593px;
$pinterest-x: -639px;
$youtube-x: -685px;
$google-x: -731px;
$app-x: -776px;

.tdn_new{
	height:30px;
	width:55px;
	background-position:-651px -161px;
}

$contenu-vert-y: -70px;
$article-vert-x: -565px;
$conseil-vert-x: -500px;
$dossier-vert-x: -760px;
$concours-vert-x: -820px;
$question-vert-x: -700px;
$quiz-vert-x: 0px;
$video-vert-x: -630px;


.dossier_icone{
	width:47px;
	height:47px;
	background-position:-769px -76px;
}
.jeux_icone{
	width:47px;
	height:47px;
	background-position:-827px -76px;
}
.btnlike_fb{
	width:102px;
	height:43px;
	background-position:-786px -156px;
}
.petitlogo{
	height:78px;
	width:65px;
	background-position:-720px -150px;
}
.btn_ig{
	height:58px;
	width:57px; 
	background-position:-823px -218px;
}
.qdn_icone{
	height:58px;
	width:57px; 
	background-position:-701px -70px;
}
.logomobile{
	height:119px;
	width:442px;
	background-position: -500px -300px;
	margin: 10px auto;
}
.menumobile{
	height:68px;
	width:81px;
	background-position: -21px -459px;
}
.escarpinmobile{
	height:56px;
	width:56px;
	background-position: -119px -473px;
}
.coeurmobile{
	height:56px;
	width:56px;
	background-position: -174px -473px ;
}
.newsmobile{
	height:56px;
	width:56px;
	background-position: -236px -473px ;
}
.portraitDtmobile{
	height:56px;
	width:56px;
	background-position:-300px -473px ;
}
.mytdnmobile{
	height:68px;
	width:81px;
	background-position: -367px -459px;
}