/*
@font-face { font-family: Droid Sans; src: url('/assets/css/fonts/DroidSans.ttf'); } 
@font-face { font-family: Questrial; src: url('/assets/css/fonts/Questrial-Regular.ttf'); } 
*/

$questrial: "Droid Sans", Questrial, Verdana, sans-serif;

body {
	font-family: "Droid Sans", Verdana, sans-serif;
}